In [2]:
import numpy as np
import pandas as pd
import random

In [3]:
# new data to combine with initial data (Note: formatted differently from df_2018 data)
df_ks = pd.read_csv("../Data/kickstarter.csv")

In [4]:
# Cleaning
# 1. Delete the first column (i.e., the row id 'Unnamed')
del df_ks['Unnamed: 0']

In [5]:
# 2. Replace state string with numbers in df_sk
cleanup_nums = {"state": {"failed": 0, "successful": 1, "canceled" : -1, "undefined" : -1, "live" : -1, "suspended" : -1}}
df_ks.replace(cleanup_nums, inplace=True)

In [6]:
# 3. Remove Duplicate values
# 3a. Sort by the number of backers (assuming you'll have more backers)
df_ks_sorted = df_ks.sort_values(by='backers_count')
# 3b. Remove duplicates
df_ks_sorted.drop_duplicates(subset='id', keep='last', inplace=True)

In [12]:
# 4. Create new dataframe with the columns = 
# id, backers_count, blurb, blurb_length, name, spotlight, staff_pick, location_country, location_state, location_displayable_name
df_ks_dropped = df_ks_sorted[['id','backers_count', 'blurb', 'blurb_length', 'name', 'spotlight', 'staff_pick', 'location_country', 'location_state', 'location_displayable_name']].sort_values(by='id')

In [13]:
df_ks_dropped.head()

,id,backers_count,blurb,blurb_length,name,spotlight,staff_pick,location_country,location_state,location_displayable_name
343901,8624,737,A compact outdoor cooking set that you can use...,12,Kombuis a portable and efficient rocket stove ...,True,True,US,WV,"Belgium, WV"
212211,18520,4,Raising money to help my grandmother recover f...,24,Grandma's are Life,False,False,US,OH,"Cleveland, OH"
11159,21109,11,My work is performance based but I branch out ...,24,Meta,True,False,GB,Scotland,"Dundee, UK"
62717,24380,18,A sanctuary for humans and felines alike! Come...,24,Puss N' Books: A relaxing cat cafe and bookstore.,False,False,US,IL,"Bloomington, IL"
34144,33867,42,Taste Makers is a socially conscious brand tha...,23,TASTE MAKERS BY TRISH P,False,True,CA,BC,"Vancouver, Canada"

In [56]:
# Read in other Data files
df_2018 = pd.read_csv("../Data/Cleaned/2018.csv")
# Rename ID to id
df_2018 = df_2018.rename(columns={"ID": "id"})
df_2018.head()

,id,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,0,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,0,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,0,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,0,1,US,1.0,1.0,5000.00
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.0,1,224,US,52375.0,52375.0,50000.00

In [70]:
# Compare the two tables ids
df_ks_ids = df_ks_dropped[['id','name']].sort_values(by='id')
df_2018_ids = df_2018[['id','category']].sort_values(by='id')
df_joined_ids = df_ks_dropped.set_index('id').join(df_2018_ids.set_index('id'))

In [58]:
# Remove any that have a NaN

(316466, 2)

(331462, 2)

In [71]:
df_joined_ids.head()

,backers_count,blurb,blurb_length,name,spotlight,staff_pick,location_country,location_state,location_displayable_name,category
id,,,,,,,,,,
8624,737,A compact outdoor cooking set that you can use...,12,Kombuis a portable and efficient rocket stove ...,True,True,US,WV,"Belgium, WV",NaN
18520,4,Raising money to help my grandmother recover f...,24,Grandma's are Life,False,False,US,OH,"Cleveland, OH",World Music
21109,11,My work is performance based but I branch out ...,24,Meta,True,False,GB,Scotland,"Dundee, UK",Performance Art
24380,18,A sanctuary for humans and felines alike! Come...,24,Puss N' Books: A relaxing cat cafe and bookstore.,False,False,US,IL,"Bloomington, IL",Spaces
33867,42,Taste Makers is a socially conscious brand tha...,23,TASTE MAKERS BY TRISH P,False,True,CA,BC,"Vancouver, Canada",Ready-to-wear

In [26]:
df_2018.to_csv("../Data/Cleaned/2018.csv", index = False)
df_2018_5050.to_csv("../Data/Cleaned/2018_5050_split.csv", index = False)
df_2018_reduced.to_csv("../Data/Cleaned/2018_reduced.csv", index = False)
df_2018_5050_reduced.to_csv("../Data/Cleaned/2018_5050_split_reduced.csv", index = False)