In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
df_2018 = pd.read_csv("../Data/ks-projects-201801.csv")

In [3]:
cleanup_nums = {"state": {"failed": 0, "successful": 1, "canceled" : -1, "undefined" : -1, "live" : -1, "suspended" : -1}}

df_2018.replace(cleanup_nums, inplace=True)
df_2018.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,0,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,0,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,0,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,0,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,-1,14,US,1283.0,1283.0,19500.00

In [4]:
df_2018.isnull().sum()

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [5]:
df_2018.isna().sum()

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [6]:
df_2018.dropna(inplace = True)
df_2018.isnull().sum()

ID                  0
name                0
category            0
main_category       0
currency            0
deadline            0
goal                0
launched            0
pledged             0
state               0
backers             0
country             0
usd pledged         0
usd_pledged_real    0
usd_goal_real       0
dtype: int64

In [7]:
df_2018 = df_2018[df_2018.state != -1]
df_2018["state"].value_counts(normalize=True)

0    0.59618
1    0.40382
Name: state, dtype: float64

In [8]:
df_2018.shape

(331462, 15)

In [9]:
df_2018_reduced = df_2018.sample(20000)
df_2018_reduced.shape

(20000, 15)

In [10]:
df_2018_reduced["state"].value_counts(normalize=True)

0    0.59765
1    0.40235
Name: state, dtype: float64

In [11]:
df_2018["state"].value_counts()

0    197611
1    133851
Name: state, dtype: int64

In [12]:
num_to_delete = df_2018["state"].value_counts()[0] - df_2018["state"].value_counts()[1]
num_to_delete

63760

In [13]:
failed_indices = df_2018[df_2018["state"] == 0].index

In [16]:
i_failed_indices = random.sample(range(0, failed_indices.shape[0]), num_to_delete)

In [17]:
indices_to_drop = []
for index in i_failed_indices:
    indices_to_drop.append(failed_indices[index])

In [18]:
df_2018_5050 = df_2018.drop(indices_to_drop)

In [20]:
df_2018_5050["state"].value_counts(normalize=True)

1    0.5
0    0.5
Name: state, dtype: float64

In [22]:
df_2018_5050_reduced = df_2018_5050.sample(20000)
df_2018_5050_reduced["state"].value_counts(normalize = True)

0    0.5078
1    0.4922
Name: state, dtype: float64

In [26]:
df_2018.to_csv("../Data/Cleaned/2018.csv", index = False)
df_2018_5050.to_csv("../Data/Cleaned/2018_5050_split.csv", index = False)
df_2018_reduced.to_csv("../Data/Cleaned/2018_reduced.csv", index = False)
df_2018_5050_reduced.to_csv("../Data/Cleaned/2018_5050_split_reduced.csv", index = False)